*{
	margin: 0;
	padding: 0;

}



header{

	width: 100px;
}

.navegacion {

	width: 1348px;
	margin: 0px auto;
	background: #79BA56;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 25px 80px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color:#CDCDCD ;
	transition: all .3s;
}



.submenu{
	position: absolute;
	background: #79BA56;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: black;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
