*{
  padding: 0px;
  margin: 0px;
}
img{
  width: 1347px;
  height: 600px;


}
#contenedor{
  width: 1347px;
  margin 30px auto;
  overflow: hidden;

}
#contenedor ul{
  list-style: none;
  width: 5388px;
  display: flex;

  animation: slide 20s infinite;
}

@keyframes slide {
  0%{margin-left: 0px;}
  20%{margin-left: 0px;}

  25%{margin-left: -1347px;}
  45%{margin-left: -1347px;}

  50%{margin-left: -2694px;}
  70%{margin-left: -2694px;}

  75%{margin-left: -4041px;}
  100%{margin-left: -4041px;}



}
