*{
  padding: 0px;
  margin: 0px;
}
img{
  width: 1341px;
  height: 600px;


}
#contenedor{
  width: 1341px;
  margin 30px auto;
  overflow: hidden;

}
#contenedor ul{
  list-style: none;
  width: 5364px;
  display: flex;

  animation: slide 20s infinite;
}

@keyframes slide {
  0%{margin-left: 0px;}
  20%{margin-left: 0px;}

  25%{margin-left: -1341px;}
  45%{margin-left: -1341px;}

  50%{margin-left: -2682px;}
  70%{margin-left: -2682px;}

  75%{margin-left: -4023px;}
  100%{margin-left: -4023px;}



}
